# Системные файлы macOS
.DS_Store

# Node.js зависимости
node_modules/

# Лог-файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .env файлы с секретами
.env
.env.local

# IDE-шный мусор
.vscode/
.idea/
