# Системные файлы macOS
.DS_Store

# Лог-файлы
*.log

# Папки IDE и редакторов
.vscode/
.idea/

# Кэш-браузеры и сборщики (если используешь например Parcel, Vite)
dist/
build/
.cache/

# Если используешь Node.js (на будущее)
node_modules/

# .env-файлы (если появятся)
.env
